.sectionTitleContainer > h3 {
    margin: 0 4px;
}

.cardGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 8px;
    @media screen and (max-width: 900px) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (max-width: 700px) {
        grid-template-columns: repeat(2, 1fr);
    }

}

.cardContainer {
    transition: 0.25s ease-in-out;
}

.cardContainer:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.25s ease-in-out;
}

.cardPopupWrapper {
    position: fixed;
    top: 0; left: 0;
    background-color: hsla(0, 0%, 0%, 0.75);
    width: 100vw;
    height: 100%;
    padding: 24px;
    margin: 0 auto;
    padding-top: 5vh;
    display: none;
    justify-content: center;
    align-items: start;
    box-sizing: border-box;
    overflow-y: scroll;
}

.cardPopup {
    /* background-color: red; */
    display: grid;
    gap: 12px;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    width: 100%;
    max-width: 800px;
    /* height: min-content; */
}

@media screen and (max-width: 800px) {
    .cardPopup {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }
}

.cardPopupCardWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: start;
}

.cardPopupCardContainer {
    grid-column: 1;
    grid-row: 1;
}

@media screen and (max-width: 800px) {
    .cardPopupCardContainer {
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.cardPopupInfoWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cardPopupInfoContainer {
    background-image: linear-gradient(hsl(207, 100%, 50%), hsl(207, 100%, 40%));
    border-radius: 8px;
    padding: 8px;
    min-height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
}

.cardPopupInfoContainer h1,
.cardPopupInfoContainer h2,
.cardPopupInfoContainer h3,
.cardPopupInfoContainer h4,
.cardPopupInfoContainer h5, 
.cardPopupInfoContainer h6,
.cardPopupInfoContainer p {
    color: white;
}

@media screen and (max-width: 800px) {
    .cardPopupInfoContainer {
        height: 100%;
    }
}

.popupDividingLine {
    margin: 2px 0 4px 0;
    color: white;
}

.detailedStatsBody {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.statChipContainer {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.statChip {
    background-color: hsla(0, 0%, 0%, 0.2);
    border-radius: 4px;
    padding: 4px;
    display: flex;
    align-items: end;
    gap: 8px;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.4));
    position: relative;
    cursor: pointer;
    transition: 0.25s ease-in-out;
}

.statChip:hover {
    transition: 0.25s ease-in-out;
}

.statChipTitle {
    color: hsl(0, 0%, 95%);
    margin-bottom: 2px;
}

.statTooltipWrapper {
    /* min-width: 100%; */
    width: 300px;
    height: 0px;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    justify-content: end;
    align-items: end;
    opacity: 0;
    transition: 0.25s ease-in-out;
}

.statChip:hover .statTooltipWrapper {
    opacity: 1;
    display: flex;
    transition: 0.25s ease-in-out;
}

.attributeCard, .eventCard {
    background-color: hsla(0, 0%, 0%, 0.2);
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.4));
    border-radius: 8px;
    padding: 4px 6px;
}

.statTooltip {
    background-color: hsla(0, 0%, 0%, 0.8);
    border-radius: 8px;
    padding: 8px;
    top: 0;
    left: 0;
    /* width: 50px; */
    /* height: 50px; */
    max-width: 200px;
    margin-bottom: 8px;
}

.detailedStatsTitleContainer {
    display: flex;
}

.calculationsTitleContainer {
    display: flex;
    width: 100%;
    margin-top: 8px;
}

.closePopupButton {
    margin-left: auto;
    text-decoration: underline;
    cursor: pointer;
}

.closePopupButton:hover {
    text-decoration: none;
}